<div class="d-grid gap-2 col-6 mx-auto"></br></br></br>
<button class="btn btn-success" type="button"> <h3><%= link_to 'Trainee SignUp', '/trainees/sign_up' ,class: "btn btn-lg btn-light"%></h3></button></br>

<button class="btn btn-secondary" type="button"><h3><%= link_to 'Trainer SignUp','/trainers/sign_up',class: "btn btn-lg btn-light"%></h3></button></br>

<button class="btn btn-success" type="button"><h3><%= link_to 'Gym-Owner SignUp', '/gyms/sign_up' , class: "btn btn-lg btn-light"%></h3></button>
</div>
